<div class="column is-3 product-list-item">
                <div class="box">
                    <figure class="image is-4by3 mb-4">
                        <img src="{{ product.get_thumbnail }}" alt="{{product.title}}">
                    </figure>

                    <h2 class="subtitle">{{product.title}}</h2>

                    <h3 class="price is-size-6 mb-5">${{product.price}}</h3>

                    <hr>

                    <a href="{% url 'product:product' product.category.slug product.slug %}" class="button is-dark is-uppercase">View</a>
                </div>
            </div>