




/* Footer */

.footer a{
    margin-bottom: 15px;
    display: inline-block;
    color: #444;
}

/*  Product List Item*/
.product-list-item .box .subtitle{
    margin-bottom: 0;
}

.product-list-item .box .price{
    color: #888;
}